@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

strong,
b {
  font-family: 'ClashDisplay-Semibold', sans-serif;
  font-weight: 600; /* opcional, por coherencia */
}


:root {
  --columnas_inicio: 70px 0px 1fr 0px 70px;
  --columnas_projectes: 70px 0px 1.8fr 60px 1fr 0px 70px;
  --columnas_about: 1fr 1fr 1fr;
  --altura_treballs: 28vw;
}

body {
  background-color: #F6F2E8;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #111111;
}

h1,
h2,
h3,
h4 {
  font-family: 'ClashDisplay-Semibold', sans-serif;
}

h5 {
  font-family: 'ClashDisplay-Regular', sans-serif;
}

p {
  font-family: 'ClashDisplay-Regular', sans-serif;
  margin-bottom: 24px;
}

h1 {
  font-size: clamp(56px, 8vw, 128px);
  line-height: 1.05;
}

h2 {
  font-size: clamp(32px, 4.2vw, 48px);
}

h3 {
  font-size: clamp(24px, 3vw, 32px);
}

h4 {
  font-size: clamp(18px, 2.4vw, 24px);
}

h5 {
  font-size: clamp(16px, 2vw, 20px);
}

p {
  font-size: clamp(15px, 1.6vw, 16px);
  line-height: 1.3em;
}

.container.inici {
  margin-top: 70px;
  display: grid;
  grid-template-columns: var(--columnas_inicio);
  grid-template-areas:
    "intro intro intro intro intro"
    "cocunat cocunat cocunat cocunat cocunat"
    "fabletics fabletics fabletics fabletics fabletics"
    "psc psc psc psc psc"
    "affinity affinity affinity affinity affinity"
    "brand brand brand brand brand"
    "footer-pagina footer-pagina footer-pagina footer-pagina footer-pagina";
}

.container.projectes {
  position: relative;
  display: grid;
  grid-template-columns: var(--columnas_projectes);
  min-height: 100vh;
  grid-template-areas: ". projecte projecte . . . .";
  z-index: 1;
}

.container.projectes.margen {
  margin-top: 70px;
}

.container.descripcio-projecte {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--columnas_projectes);
  grid-template-areas: ". . . . informacio . .";
}

.container.about {
  display: grid;
  grid-template-columns: var(--columnas_inicio);
  grid-template-rows: max-content max-content max-content max-content;
  min-height: 100vh;
  margin-top: 70px;
  grid-template-areas:
    ". . titol-about . ."
    ". container-about container-about container-about ."
    ". . titol-contacte . ."
    ". container-contacte container-contacte container-contacte .";
}

.projecte {
  grid-area: projecte;
  height: 100%;
}

.informacio {
  grid-area: informacio;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
}

.titol {
  font-family: "Inconsolata", serif;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.subtitol {
  letter-spacing: 0.5px;
}

.fletxa {
  border-top: solid;
  border-right: solid;
}

.fletxa.dreta {
  transform: rotate(45deg);
}

.fletxa.esquerra {
  transform: rotate(225deg);
}

.fletxa.abaix {
  transform: rotate(135deg);
}

/* ------ COLORS ------ */

.verd {
  background-color: #959A88;
}

.groc {
  background-color: #D7A12A;
}

.vermell {
  background-color: #C97155;
}

.blau {
  background-color: #A9B7C6;
}

.text-blau {
  color: #A9B7C6;
}

.text-groc {
  color: #D7A12A;
}
.text-cyan {
  color: #A9B7C6;
}

.text-vermell {
  color: #C97155;
}

.text-crema {
  color: #F6F2E8;
}

/* ------ CABECERA ------ */

header.inici {
  display: grid;
  grid-template-columns: var(--columnas_inicio);
  grid-template-areas: ". . container . .";
  color: 363636;
  height: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: #F6F2E8;
  border-bottom: solid 1px #363636;
  z-index: 2;
}


header .container {
  grid-area: container;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 340px;
}

.menu.projectes {
  max-width: 250px;
}

.menu ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.menu a {
  font-family: 'ClashDisplay-Regular', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.menu ul li {
  transition-duration: 0.4s;
}

.menu ul li:hover {
  text-decoration: underline;
}

header .container img {
  width: 220px;
}

#boton-menu {
  width: 36px;
}

#cierra-menu {
  width: 48px;
}

#boton-menu,
#cierra-menu {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

#boton-menu img,
#cierra-menu img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------ INTRO ------ */

.intro {
  display: grid;
  grid-template-columns: var(--columnas_inicio);
  grid-template-areas:
    ". . hola . .";
  grid-area: intro;
  justify-items: center;
  border-bottom: solid 1px #363636;
}

.intro.blau {
  background-color: #4f6d7a;
}

.hola .container {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.hola {
  grid-area: hola;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  align-self: center;
  border-left: solid 1px #363636;
  border-right: solid 1px #363636;
}

.hola .imatge {
  width: 100%;
  height: 360px;
  overflow: hidden;
  object-fit: contain;
}

.hola .imatge img {
  width: 100%;
}

.hola .text {
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: center;
}

.hola .text.error {
  align-self: center;
  margin: auto;
}

.hola h1 {
  line-height: 1.1em;
  margin-bottom: 0px;
}

.hola .linia {
  border-bottom: solid #363636 4px;
  width: 54px;
  height: 16px;
}

.hola h4 {
  margin-top: 10px;
  color: black;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
}

.about-header{
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 24px;
  align-items: start; /* o center si quieres alineación vertical */
}

/* 4fr de 6 => 4 columnas */
.about-text{
  grid-column: 1 / span 4;
  padding: 24px;
}

/* 2fr de 6 => 2 columnas */
.about-more{
  grid-column: 5 / span 2;
  display: grid;
  gap: 16px; /* gap interno (ajusta a tu diseño) */
  padding: 24px;
  border-left: solid #111111 1px;
  height: 100%;
}

.about-services{
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 24px;
  align-items: start;
  border-top: solid #111111 1px;
}

/* 2 columnas (como about-more) */
.services-header{
  grid-column: 1 / span 2;
  padding: 24px;
  border-right: solid #111111 1px;
  height: 100%;
}

/* 4 columnas (como about-text) */
.services-grid{
  grid-column: 3 / span 4;
  padding: 24px;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px; /* gap interno del 2x2 */
}

.service-item{
  display: grid;
  gap: 8px; /* separación título/desc */
}




@media (max-width: 850px) {
  .hola {
    flex-direction: column;
    width: 100%;
  }

  .hola .text {
    margin: 0px;
    margin-left: 24px;
    margin-top: 20px;
  }

  .hola h1{
    font-size: 66px;
  }

  .hola h4{
    font-size: 14px;
  }

  .menu ul a {
    color: black;
  }

  .menu ul {
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
  }

  .menu.projectes ul {
    height: 250px;
  }

  .container-header {
    position: relative;
    align-items: center;
  }

  .menu {
    /* display: none; */
    align-self: flex-start;
    position: absolute;
    align-self: flex-start;
    width: 100%;
    max-width: none !important;
    transform: translateY(-51vh);
    transition: transform 0.6s;
  }

  .menu.menu-descobert {
    transform: translateX(0);
    -webkit-box-shadow: 0px 0px 23px -8px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 23px -8px rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 23px -8px rgba(0, 0, 0, 0.39);
  }

  .menu ul li.dreta {
    align-self: flex-end;
    position: absolute;
    top: 8px;
    right: 24px;
    transform: scale(0.6);
  }
}

@media (min-width: 850px) {
  .no-desk {
    display: none;
  }
}

@media (max-width: 600px) {
  .hola .imatge {
    width: 100%;
    height: 60vw;
  }

  .hola .titol {
    font-size: 12vw;
    line-height: 13vw;
  }

  .hola .container {
    flex-direction: column;
  }

  .hola .imatge img {
    margin-top: -50px;
  }

}

/* ------ CONTENIDO ------ */

#cocunat {
  grid-area: cocunat;
}

#fabletics {
  grid-area: fabletics;
}

#psc {
  grid-area: psc;
}

#affinity {
  grid-area: affinity;
}

#brand {
  grid-area: brand;
}

.categoria {
  display: grid;
  grid-template-columns: var(--columnas_inicio);
  grid-template-areas:
    ". . text . ."
    ". treballs treballs treballs ."
    ". . mes . .";
  margin-top: 50px;
}

.mes {
  display: flex;
  justify-content: flex-end;
  grid-area: mes;
  margin-top: 10px;
  cursor: pointer;
}

.mes:hover {
  text-decoration: underline;
}


.mes .fletxa {
  width: 12px;
  height: 12px;
  border-width: 1.5px;
  border-color: #2b2b2b;
  margin-left: 4px;
  margin-top: 9px;
  margin-right: 2px;
}

.categoria .text {
  grid-area: text;
}

.categoria h2 {
  margin-bottom: 5px;
}

.categoria h4 {
  padding-left: 3px;
}

.contenidor-treballs {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  grid-area: treballs;
  min-height: 100px;
}

.treball {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.treball img {
  object-fit: contain;
  width: 100%;
}

.treball.centpercent img {
  width: inherit;
}

.ocult {
  display: none;
}

.visible {
  display: flex;
}

.descripcio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: var(--altura_treballs);
  width: 100%;
  opacity: 0;
}

.descripcio p,
.descripcio h3 {
  color: white;
  text-align: center;
}

.descripcio p {
  letter-spacing: 0.5px;
  padding: 0px 5vw;
}

.descripcio p.collaboracio {
  margin-top: 10px;
  font-size: 11px;
}

.descripcio h3 {
  font-size: 35px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.descripcio:hover {
  opacity: 1;
}

.descripcio.groc p,
.descripcio.groc h3 {
  color: #4f3b2d;
}

.descripcio.crema p,
.descripcio.crema h3 {
  color: #4f3b2d;
}

/* ------ CONTENIDO PROYECTOS ------ */

.seccio img {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.seccio video {
  width: 100%;
  margin-top: 64px;
}

.container-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  width: 100%;
}

.container-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.seccio h2 {
  padding-top: 70px;
}

.seccio h3 {
  text-align: right;
  margin-top: 10px;
  transition-property: transform;
  transition-duration: 0.4s;
}

.seccio h3:hover {
  transform: translateY(5px);
}

.informacio h3 {
  margin-top: 10px;
}

/* --- STORIES GRID --- */
.seccio--stories{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* desktop */
  gap: 24px;
  align-items: start;
}

/* el título ocupa toda la fila */
.seccio--stories > h2{
  grid-column: 1 / -1;
}

/* cada video vertical */
.seccio--stories > video{
  width: 100%;
  max-width: 320px;     /* controla el tamaño */
  aspect-ratio: 9 / 16;
  object-fit: cover;
  justify-self: start; /* o center si los quieres centrados */
}

.statics-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* desktop: 2 columnas */
  gap: 24px;
}

.statics-grid img{
  width: 100%;
  display: block;
  aspect-ratio: 1 / 1;   /* cambia si no son cuadradas */
  object-fit: cover;
}

.videos-grid{
  display: grid;
  gap: 24px;
  align-items: start;
}

.videos-grid--2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

/* Base para todos los vídeos */
.videos-grid > video{
  width: 100%;
  max-width: 320px;
  object-fit: cover;
  display: block;
  justify-self: start;
}

/* 1:1 — autoplay */
.video-square{
  aspect-ratio: 1 / 1;
}

/* 4:5 — con controles */
.video-portrait{
  aspect-ratio: 4 / 5;
}

/* --- TABLET --- */
@media (max-width: 900px){
  .seccio--stories{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .statics-grid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .about-text{ grid-column: 1 / -1; }
  .about-more{ grid-column: 1 / -1; }

  .services-header{ grid-column: 1 / -1; }
  .services-grid{ grid-column: 1 / -1; }
}

/* --- MOBILE --- */
@media (max-width: 600px){
  .seccio--stories{
    grid-template-columns: 1fr;
  }

  .seccio--stories > video{
    max-width: 100%;
  }

  .statics-grid{
    grid-template-columns: 1fr;
  }
.videos-grid--2{
    grid-template-columns: 1fr;
  }
  .videos-grid > video{
    max-width: 100%;
  }
  .services-grid{ grid-template-columns: 1fr; }
  .hola .imatge img{
    width: 200%;
  }
}


@media (max-width: 600px) {
  .container.descripcio-projecte {
    margin-bottom: 50px;
  }
}

/* ------ ABOUT ------ */

.titol-about {
  grid-area: titol-about;
}

.titol-contacte {
  grid-area: titol-contacte;
}

.container-about,
.container-contacte {
  display: grid;
  grid-template-columns: var(--columnas_about);
  grid-gap: 20px;
}

.container-about {
  grid-area: container-about;
  margin-bottom: 50px;
}

.container-contacte {
  grid-area: container-contacte;
}

.seccio-about {
  padding: 20px;
  border: 1px solid #363636;
}

.seccio-about h3,
.seccio-about h4,
.seccio-about h5 {
  color: #363636;
}

.groc h3,
.groc h4,
.groc h5 {
  color: #2b2b2b;
}

.crema h3,
.crema h4,
.crema h5 {
  color: #2b2b2b;
}

.seccio-about h3 {
  margin-bottom: 15px;
}

.seccio-about h4 {
  margin-bottom: 0px;
}

.seccio-about ul li {
  list-style: none;
}

@media (max-width: 850px) and (min-width: 600px) {
  .seccio-about {
    padding-left: 50px;
  }
}

/* ------ FOOTER ------ */

footer {
  position: relative;
  grid-area: footer-pagina;
  display: grid;
  grid-auto-columns: var(--columnas_inicio);
  grid-template-areas: ". . footer-container . .";
  background-color: #2b2b2b;
  margin-top: 80px;
  z-index: 3;
  min-height: 100px;
}

footer .container {
  grid-area: footer-container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container p {
  color: white;
  font-weight: 700;
  opacity: 0.5;
  transition: 0.4s;
}

footer .container p:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
    justify-content: center;
  }

  footer .container p {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

/* ------ MEDIA QUERIES ------ */

@media (min-width: 1280px) {
  :root {
    --columnas_inicio: 1fr 0px 1140px 0px 1fr;
    --columnas_projectes: 1fr 0px 700px 60px 380px 0px 1fr;
    --altura_treballs: 380px;
  }
}

@media (max-width: 1024px) {
  :root {
    --columnas_inicio: 0px 70px 1fr 70px 0px;
    --columnas_projectes: 0px 70px 1.8fr 60px 1fr 70px 0px;
    --altura_treballs: 32vw;
  }
}

@media (max-width: 850px) {
  :root {
    --columnas_inicio: 0px 50px 1fr 50px 0px;
    --columnas_projectes: 0px 50px 1.8fr 40px 1fr 50px 0px;
    --columnas_about: 1fr;
  }
}

@media (max-width: 768px) {
  :root {
    --altura_treballs: 50vw;
  }

  .contenidor-treballs {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  :root {
    --columnas_inicio: 0px 15px 1fr 15px 0px;
    --columnas_projectes: 0px 15px 1fr 15px 0px;
  }

  .container.projectes {
    grid-template-areas: ". . projecte . .";
    margin-top: 0px;
  }

  .container.descripcio-projecte {
    position: inherit;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--columnas_projectes);
    grid-template-areas: ". . informacio . .";
  }
}

@media (max-width: 415px) {
  :root {
    --altura_treballs: 100vw;
  }

  .contenidor-treballs {
    grid-template-columns: 1fr;
  }

  .categoria .titol {
    font-size: 38px;
  }

  .categoria .subtitol {
    font-size: 10px;
  }

  .mes {
    font-size: 18px;
  }

  .mes .fletxa {
    width: 12px;
    height: 12px;
    border-width: 3px;
    margin-top: 2px;
  }
}

/* ------ TRANSICIONES ------ */


.descripcio {
  transition-property: opacity;
  transition-duration: 0.4s;
}
